@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Honk&display=swap');


@font-face {
  font-family: 'PokeGBA';
  src: url("../Fonts/PokemonGBA.ttf") format(truetype);
}

/* Puts the background image in the whole page */
nav, .home-body {
  background-image: url("./Images/background.webp");
}

/* Adjustments for the background image */
.home-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Next two styles divide the whole page in two sections of the same size */

.header-textbox{ 
  font-size: 1.2rem;

}
.main-row {
  height: 50vh;
}

.bottom-row {
  height: 50vh;
}

.textbox {
  max-height: 16rem;
  
  margin-bottom: 0.7rem;
}

/* Styles for the typing text function */
.typing-text {
  text-align: center;
  font-family: 'PokeGBA';
  font-size: 0.3rem;
}

.audio-container {
  font-family: 'PokeGBA';
  font-size: 12px;
}

.audioIcon {
  height: 30px;
}

.audio-btn .btn {
  font-size: 13px;
}

.textbox {
  max-height: 20rem;
  margin-top: 4.5rem;
}

button {
  border: none;
  background-color: transparent;
  color: black;
}

a {
  color: black !important;
}

button:hover {
  text-decoration: underline;
}

.options-container {
  width: 100%;
    flex-direction: column;
    font-family: 'PokeGBA';
    transform: translate(0%, -270%);

}


/** CSS for the smallest screens **/
@media (min-width: 360px) and (max-width: 576px) {
    .typing-text {
        font-size: 1.3rem;
    }

    .textbox {
      max-height: 20rem;
      margin-top: 4.5rem;
    }

    .options-container {
      transform: translate(0%, -260%);
    }

    .header-textbox{ 
      font-size: 0.9rem;
    }

    .buttons-container button {
      font-size: 0.8rem;
    }
    

    
}

/** CSS for small screens **/
@media (min-width: 576px) and (max-width: 768px) {
    .typing-text {
        font-size: 2rem;
    }

   

   .options-container {
    transform: translate(0%, -300%);
  }

  .header-textbox{
    font-size: 0.9rem;
  }

  .buttons-container button {
    font-size: 0.8rem;
  }
}

.buttons-container .btn {
  transition: transform 0.3s ease-in-out; /* Añade una transición suave */
}

/* Efecto hover para elevar las palabras dentro de los botones */
.buttons-container .btn:hover {
  transform: translateY(-5px); /* Eleva el botón 5px hacia arriba */
}


/** CSS for medium screens **/
@media (min-width: 768px) and (max-width: 992px){
    .typing-text {
        font-size: 2.4rem;
    }

    
}

/** CSS for large screens **/
@media (min-width: 992px) and (max-width:1200px) {
    .typing-text {
        font-size: 2.8rem;
    }

  
}

/** CSS for extra-large screens **/
@media (min-width:1200px) {
    .typing-text {
        font-size: 3.2rem;
    }

    

}
