.project-preview {
    width: 20rem;
}
.return-icon {
    margin-right: 20px;
}

.list-menu {
    height: 70vh;
}

/* Define la animación blink */
@keyframes blink {
    0%, 100% {
        opacity: 1; /* Totalmente visible */
    }
    50% {
        opacity: 0; /* Invisible */
    }
}

/* Aplica la animación a la clase .return-icon */
.return-icon {
    animation: blink 1.5s infinite; /* 1s es la duración de un ciclo completo */
}


 
* {
    font-family: 'PokeGBA';
}

@media (min-width: 360px) and (max-width: 576px) {
    .project-preview {
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .project-preview {
        max-width: 100%;
    }
}