@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Honk&display=swap');


@font-face {
    font-family: 'PokeGBA';
    src: url("../fonts/PokemonGBA.ttf") format(truetype);

}
nav, .container-fluid.home-body {
    background-image: url("../img/pokemon.webp");
}

.home-body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.text-container {
    transform: translate(-0%, -300%);
    font-family: 'PokeGBA';
  
}

.textbox {
    max-height: 14rem;
    width: 100%;
    margin-top: 15rem;
}

.text-from-box button:hover {
    text-decoration: underline;
}

button {
    border: none;
    background-color: transparent;
}

.container-about {
    background-image: url("../img/retro.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    font-family: "Honk", system-ui;
    margin-top: 3vh;
}

.text h3 {
    font-size: 35px;
}

.options {
    
    display: flex;
}

.jump:hover {
    animation: jump 0.5s ease;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.button {
    
    background: none;
    border: none;
    margin-left: 10px;
}

.welcome-msg {
    margin-top: 1.5rem;
    font-family: 'PokeGBA';
    text-align: center;
}
/**
.textbox
{
    width: 100%;
    transform: translate(15%, 160%);

}
**/


@media (min-width: 1200px) {
    
    .welcome-msg {
        font-size: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .overlay-text { 
    transform: translate(-0%, -195%);
    }
}

@media (max-width: 600px) {

    nav {
        font-size: 14px;
    }
    
    .textbox {
    transform: translate(-0%, 180%);
    }

    .text-container {
        transform: translate(-0%, 180%);
        margin: 0 40px;
    }
}

