@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.navbar-brand {
    font-family: "Concert One", sans-serif;
    text-align: center; /* Centra el texto en la navbar */
    flex-grow: 1;
    color: pink;
}


.navbar-toggler {
    border: none;
}