.card {
    font-family: 'PokeGBA';
    margin-bottom: 2rem;
   border: 1px solid black;
}

.card-title {
   color: white;
}
.container-fluid.home-body {
    background-image: url("../img/pokemon.webp");
}

.card-body {
    font-size: 14px;
}
.jump {
    font-size: 12px;
}

