
img.return-icon{
    width: 3rem;
}



.right-side {
    font-family: 'PokeGBA';
}

.dialogbox {
    width: 100%;
    max-height: 95vh;
}

.right-side {
    transform: translate(0%, -105%);
}

.its-me {
    height: 80vh;
}
.left-side {
    transform: translate(0%, -107%);
}

@media (min-width: 360px) and (max-width: 576px) {
  
    .info h4, .info h6 {
        font-size: 12px;
    }

    .info {
        font-size: 9px;
    }
    .its-me {
        height: 40vh;
    }
    
}

@media (min-width: 576px) and (max-width: 768px) {
    .its-me {
        height: 40vh;
    }

    .info h4, .info h6 {
        font-size: 14px;
    }

    .info {
        font-size: 11px;
    }
} 

@media (min-width: 768px) and (max-width: 992px){
    .its-me {
        height: 45vh;
    }

    .info h4, .info h6 {
        font-size: 14px;
    }

    .info {
        font-size: 11px;
    }
} 