
img.return-icon{
    width: 3rem;
}



.right-side {
    font-family: 'PokeGBA';
}

.dialogbox {
    width: 100%;
    height: 95vh;
}

.right-side {
    transform: translate(0%, -105%);
}

.its-me {
    height: 80vh;
}
.left-side {
    transform: translate(0%, -107%);
}

@media (min-width: 360px) and (max-width: 576px) {
    .dialogbox {
        height: 10vh;
    }

    .its-me {
        height: 30vh;
    }
    

}